<header class='header'>
    <nav class='navbar'>
        <% if user_signed_in? %>
            <li class="list"> Welcome <span><%= current_user.name.capitalize %>!</span></li>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "all-posts-btn logout" %>
        <% else %>
            <div class='services' >
                <li> <%= link_to "Login", new_user_session_path %></li>
                |
                <li> <%= link_to "Register", new_user_registration_path %></li>
            </div>
        <% end %>
    </nav>
</header>