html,
body {
  margin: 0 auto;
}

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1.5rem;
  border-bottom: 2px solid green;
}

.user-photo-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 1.5rem;
}

.user-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-counter {
  display: flex;
  flex-direction: column;
  color: black;
  width: 30vw;
}

.name-counter h3 {
  text-align: end;
}

.user-id {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-id .bio {
  border-bottom: 2px solid green;
  width: auto;
  width: 50%;
  padding: 1rem;
}

.user-id .posts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  padding: 1rem;
}

.posts-container {
  border-bottom: 2px solid green;
}

.posts-container .comments-likes {
  text-align: end;
}

.links {
  display: flex;
  gap: 2rem;
  margin: 1rem;
}

.all-posts-btn {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
  background-color: green;
  color: white;
  border-radius: 0.7rem;
}

.posts-comment {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  padding: 1rem;
}

.posts-comment a {
  color: blue;
}

.posts-comments {
  display: flex;
  justify-content: center;
}

.single-post-container {
  width: 50%;
}

.heading {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid green;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-form {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.field label {
  color: green;
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: bold;
}

.text-field {
  height: 2.1rem;
  border-radius: 0.5rem;
  padding: 0.4rem;
}

.text-area {
  height: 6rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.new-btn {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.like-btn {
  margin-bottom: 0.7rem;
  font-size: 1rem;
  padding: 0.5rem;
}

.form-comment {
  display: flex;
  flex-direction: column;
}

.comment-text {
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 0.9rem;
  width: 40%;
  height: 3rem;
}

.new-comment {
  border-top: 2px solid green;
  padding-top: 1rem;
}
