html,
body {
  margin: 0 auto;
}

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1.5rem;
  border-bottom: 2px solid green;
}

.user-photo-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 1.5rem;
}

.user-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-counter {
  display: flex;
  flex-direction: column;
  color: black;
  width: 30vw;
}

.name-counter h3 {
  text-align: end;
}

.user-id {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-id .bio {
  border-bottom: 2px solid green;
  width: auto;
  width: 50%;
  padding: 1rem;
}

.user-id .posts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  padding: 1rem;
}

.posts-container {
  border-bottom: 2px solid green;
}

.posts-container .comments-likes {
  text-align: end;
}

.all-posts-btn {
  border: 1px solid black;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: green;
  color: white;
  border-radius: 0.7rem;
}

.posts-comment {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  padding: 1rem;
}

.posts-comment a {
  color: blue;
}

.posts-comments {
  display: flex;
  justify-content: center;
}

.single-post-container {
  width: 50%;
}

.heading {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid green;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
